body {
	background-image: url(https://krot.info/uploads/posts/2021-01/1611769397_30-p-zelenii-voennii-fon-34.jpg);
	max-width: 960px;
	margin: 0 auto;
}
div {
	border: 1px solid black;
	padding: 5 px 15 px;
}
h2 {
	text-align: center;
}
.header {
	border-radius: 10px;
	margin-top: 2%;
	background-image: url(https://hqtexture.com/uploads/posts/2012-10/1349535095-790849-military-backgrounds-1.jpg);
	min-height: 200px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 3%;

}
.sidebar {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqELJn-Ca4TFIexcUJFqX2m5tt7JG4lNwuuHD2GlPLZo3crI36tNMOHvlAZ_0KukBcyN0&usqp=CAU);
	float: left;
	max-width: 200px;
	max-width: 150px;
	margin-right: 2%;
	
}